.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;

  & .header {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    & .backBtn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      user-select: none;
      cursor: pointer;
    }
  }

  & .body {
    padding: 20px;
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
}
