.container{
  padding: 15px 40px;
  background-color: var(--blue-1);
  border-radius: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 60px;
  box-shadow: var(--shadow);
  &:hover{
    background-color: var(--blue-3);
  }

& .image{
  height: 90px;
  object-fit: contain;
  background-color: white;
  border-radius: 6px;
}
  & .title{
    font-size: 24px;
    font-weight: bold;
  }
}
